@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
  --font-jetbrain: "JetBrains Mono", monospace;
}

@theme inline {
  
}

/* In your main CSS file or a <style> block */
.custom-scrollbar::-webkit-scrollbar {
    width: 1px; /* Set scrollbar width */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: none; /* Style the track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1f1f1f; /* Style the thumb */
    border-radius: 1px;
  }

  .stroked-text {
    -webkit-text-stroke-width: px; /* Sets the thickness of the stroke */
    -webkit-text-stroke-color: white; /* Sets the color of the stroke */
    -webkit-text-fill-color: transparent; /* Makes the inner text transparent */
    color: transparent; /* Fallback for browsers that don't support -webkit-text-fill-color */
  }